<!-- begin post -->
{% assign author = site.authors[post.author] %} {% if post.image %}
<div class="blog-grid-item">
  <div class="card h-100">
    <div class="maxthumb">
      <a href="{{ site.baseurl }}{{ post.url }}"> {% if site.lazyimages == "enabled" %} <img class="img-thumb lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> {% else %} <img class="img-thumb" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"> {% endif %} </a>
    </div>
    <div class="card-footer bg-white">
      <div class="wrapfooter">
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- end post -->
