---
layout: default
archive: false
post_class: post-template
---

<div class="entry-header">
    <!-- Post Title -->
    <!-- <h1 class="posttitle">{{ page.title }}</h1> -->
    <!-- Author & Date  Box -->
    {% if page.author %}
    <div class="d-flex align-items-center mt-4">
        <div>
        By
            {% assign author = site.authors | where: 'username', page.username | first %}
            {% if author %}
                <a href="{{ author.url | prepend: site.baseurl | prepend: site.url }}">{{ author.displayname }}</a>
            {% else %}
                <a href="https://farcaster.xyz/{{page.username}}" target="_blank">{{ page.author }}</a>
            {% endif %}
     on
        <a href="{{page.cast}}" target="_blank"><span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span></a>
        </div>
    </div>
    {% endif %}
</div>

<!-- Content -->
{% include article.html %}
